.navigation {
    display: flex;
}
.navigation li {
    display: block;
    /* needed because of state in small view */
    flex: 1 1 100%;
}
.navigation li:first-child {
    display: none;
}
main {
    margin: 0 auto;
    max-width: 80rem;
}
.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    margin: 1rem 0;
}

.first-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-top: 20px;
}


