.navigation {
    display: flex;
}
.navigation li {
    display: block;
    /* needed because of state in small view */
    flex: 1 1 100%;
}
.navigation li:first-child {
    display: none;
}
main {
    margin: 0 auto;
    max-width: 80rem;
}


.h1-light {


    top: 50%;
    left: 50%;

}.description{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    justify-items: center;
    margin: 1rem 0;
    }

    .pair{
        grid-template-columns: 1fr 1fr;   
    }

    .cards {
        grid-template-columns: 1fr 1fr 1fr ;
    }

    .container{
    
        grid-template-columns: 1fr 1fr;
      
    
    }