
main {
    margin: 0 auto;
    max-width: 60rem;
}

.herodiv {
    height: 65vh;
    h1{
     
        font-family: $headerFont;
        font-size: 2rem;
  
        top: 30%;
        left: 15%;
        
    }
    p{
     
        top: 30%;
        left: 15%;
        font-size: 1rem;
    }
    .button {
        position: relative;
        top: 40%;
        left: 70%;    
        
    }
    .button:link,
.button:visited {

    padding: 20px 60px;
    font-size: 1.5rem;
}

 .button:hover {

    padding: 24px 64px;
}
}
.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
    

}


.first-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.h1-light {

    top: 70%;
    left: 50%;

}

.cards {
    grid-template-columns: 1fr 1fr;
}



thead {
    font-size: 2rem;
}
tbody{
    font-size: 1.2rem;
th {
  
    font-size: 1.2rem;
}
}

