/* Color Theme Swatches in Hex */
$primary: #77A612;
$secondary: #3E5902;
$accent1:#EDF2C2;
$accent2:#ECF22E;
$accent3: #8C8C88;
$accent4: #F2F2F2;

$heavyWeight: 700;
$headerFont: 'Oxygen', sans-serif;
$bodyFont: 'Playfair Display', serif;





